<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
     initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/shows">go back</a>
<section >
    <h1>Add a new show </h1>
<form action="/process" method="POST">
{% csrf_token %}
<label>title</label>
<input type="text" name="title"><br><br>
<label>network</label>
<input type="text" name="network">
<label>release_date</label>
<input type="date" name="release_date"><br><br>
<label>description</label>
<textarea name="description" cols="30" rows="10"></textarea><br>

<input type="submit" value="create">




</form>
{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}


</section>

    
</body>
</html>