<html>

<head></head>

<body>
    <section>
<form action='/results' method="POST">
your name" <input type="text" name="name"><br>
Dojo_location : <select name="loc">

<option name = "pal">palestine</option>
<option name = "jordan">jordan</option>


</select><br>

your langauge:  <select name="language"><br>

        <option value = "python">python</option>
        <option value = "java">java</option>
        
        
        </select> <br>

<textarea name ="optional">



</textarea> <br>


<input type="submit" name ="sub" value="button">



</form>
</section>







</body>










</html>